/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    line-height: 1.5;
}

h1, h2 {
    text-align: center;
    color: #4CAF50;
}

h1 {
    margin-top: 20px;
}

form {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin: 15px 20px 15px 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
select:focus,
textarea:focus {
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

textarea {
    resize: vertical;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.radio-item {
    display: flex;
    align-items: center;
}

.radio-item input[type="radio"] {
    margin-right: 5px;
}

.date-time-group {
    display: flex; /* Arrange date and time inputs in a row */
    gap: 15px; /* Add spacing between the date and time inputs */
}

.date-time-group input[type="date"],
.date-time-group input[type="time"] {
    width: auto; /* Adjusts the width to fit the content */
    padding: 8px; /* Adds padding for better appearance */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    flex: 1;
}


button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
    transform: scale(1.02);
}

button:active {
    background-color: #3e8e41;
    transform: scale(1);
}

/* Responsive Design */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }
    .date-time-group {
        gap: 15px;
    }
}