/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    margin-top: 80px;
    padding: 0;
    background-color: #1E201E;
    color: #333;
    line-height: 1.5;
}

h1,
h2 {
    text-align: center;
    color: #fccd2a;
    font-family: "Titan One", sans-serif;
    font-size: 30px;
}

h1 {
    margin-top: 20px;
}

#drive-request {
    max-width: 600px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 4px 8px rgba(0, 0, 0, 0.5);
}

.form-group {
    margin: 15px 20px 15px 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
#drive-request input[type="text"],
#drive-request input[type="email"],
#drive-request input[type="tel"],
#drive-request input[type="date"],
#drive-request input[type="time"],
select,
textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#drive-request input[type="text"]:focus,
#drive-request input[type="email"]:focus,
#drive-request input[type="tel"]:focus,
#drive-request input[type="date"]:focus,
#drive-request input[type="time"]:focus,
select:focus,
textarea:focus {
    border-color: #FCCB2A;
    box-shadow: 0 0 5px ffdb58(76, 175, 80, 0.5);
    outline: none;
}

textarea {
    resize: vertical;
}

.radio-group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.radio-item {
    display: flex;
    align-items: center;
}

.radio-item input[type="radio"] {
    margin-right: 5px;
}
#drive-request .date-time-group {
    display: flex;
    /* Arrange date and time inputs in a row */
    gap: 15px;
    /* Add spacing between the date and time inputs */
}

.date-time-group input[type="date"],
.date-time-group input[type="time"] {
    width: auto;
    /* Adjusts the width to fit the content */
    padding: 8px;
    /* Adds padding for better appearance */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    flex: 1;
}

#drive-request button {
    display: block;
    width: 93.5%;
    padding: 10px;
    background-color: #ffdb58;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s;
    margin: 10px 20px 20px 20px;
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 18px !important;
}

button:hover {
    background-color: #FCCB2A;
    transform: scale(1.05);
}

button:active {
    background-color: #FCCB2A;
    transform: scale(1.05);
}

/* Responsive Design */
@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    .date-time-group {
        gap: 15px;
    }
}

label {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 20px !important;
}

input::placeholder,
textarea::placeholder {
    font-family: "Sour Gummy", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 15px !important;
}