/* Background Image */
.hpimg {
    max-width: 99%;
    max-height: 99%;
    object-fit: cover;
    display: inline-block;
}

body {
    margin-top: -60px;
}

/* Founders */
.founders {
    display: flex;
    justify-content: space-evenly;
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fccd2a;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(to bottom, #fccd2a, #1e201e);
}


/* Scroll to top btn */
#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #183A1D;
    border: 1px solid #183A1D;
    z-index: 3;
}

.bgimg {
    top: -20px !important;
    left: 0;
    max-width: 100%;
    max-height: 100%;
    z-index: -1;

}

.tiger-img {
    position: absolute;
    top: 45%;
    right: 0;
    transform: translateX(0) translateY(-50%);
    width: 33% !important;
    height: auto;
    z-index: 2;
    transition: transform 0.1s ease-in-out;
}

/* Buttons */
.image-container {
    position: sticky;
    width: 100%;
    /* height: 100vh; */
    overflow: hidden;
    padding-top: 0px;
    margin-top: 60px;
}

.image-container img.hpimg {
    width: 100%;
}

.image-container img {
    width: 100%;
    height: auto;
    /* Ensures image scales proportionally */
    display: block;
}

.image-container .buttons {
    position: absolute;
    top: 61%;
    left: 31%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.image-container .btn {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #ffe27f;
    color: #1e201e;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    min-width: 120px;
    text-align: center;
}

.image-container .btn:hover {
    background-color: #fccd2a;
    font-weight: bold;
    transform: scale(1.05);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .image-container .buttons {
        top: 55%;
    }

    .image-container .btn {
        font-size: 0.9rem;
        padding: 8px 15px;
        min-width: 100px;
    }
}

@media (max-width: 576px) {
    .image-container .buttons {
        top: 60%;
    }

    .image-container .btn {
        font-size: 0.8rem;
        padding: 7px 12px;
        min-width: 80px;
    }
}